<!DOCTYPE HTML>
<html lang="en">

    <head>
        <title>Code Teacher</title>
    </head>

    <style>
        header {
            background-color: navy;
            color: white;
            padding: 10px;
            border-radius: 5px;
        }
    </style>

    <body>
        <h1>Welcome to Code Teacher</h1>
        <header>
            <h1>Code Teacher</h1>
        </header>
        <p>Code Teacher is a platform created to help students learn programming, made by a student</p>
    </body>

</html>